.cards {
  position: relative;
  .container {
    flex-flow: column nowrap;
    padding-bottom: 1rem;
  }
  &__background {
    position: absolute;
    top: 12.5%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    background:linear-gradient(180deg, white 5%, $yellow 5%);
    @media (min-width: 750px) {
      background:linear-gradient(180deg, white 33%, $yellow 33%);
      top: 25%;
    }
    @media (min-width: 1100px) {
      top: 35%;
    }
    svg {
      display: block;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1.25rem;
    @media (min-width: 750px) {
      grid-template-columns: auto auto;
      grid-gap: 1.75rem;
    }
    @media (min-width: 1100px) {
      grid-template-columns: auto auto auto;
      grid-gap: 2.25rem;
    }
  }
  &__intro {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    @media (min-width: $breakpoint-30) {
      max-width: 50%;
    }
  }
  &__heading {
    color: black;
    position: relative;
    width: fit-content;
    &:before {
      position: absolute;
      content: "";
      bottom: 20%;
      top: 65%;
      right: 0;
      left: 0;
      background: $yellow;
      border-radius: $border-radius-full;
      z-index: -1;
      display: none;
      @media (min-width: 345px) {
       display: block;
      }
    }
  }
  &__text {
    color: black;
    margin-bottom: 2.5rem;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1.25rem;
  box-shadow: $box-shadow;
  border-radius: $border-radius-20;
  background: white;
  transition: ease-in-out .2s;
  overflow: hidden;
  &:hover {
    box-shadow: $box-shadow-hover;
  }
  &:hover img {
    filter: none;
    -webkit-filter: grayscale(0);
  }
  &__content {
    margin-bottom: 3.5rem;
  }
  &__text, &__heading {
    color: black;
  }
  &__heading {
    font-size: 1.375rem;
  }
  &__languages {
    color: #7D7D7D;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__language {
    color: #7D7D7D;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__image {
    margin-bottom: 1rem;
    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 3/2;
      border-radius: $border-radius-20;
      box-shadow: $box-shadow;
      transition: ease-in-out .2s;
      filter: 75%;
      -webkit-filter: grayscale(75%);
    }
  }
  &__button-bar {
    position: relative;
  }
  &__button {
    background: $lightblack;
    position: absolute;
    right: -1.25rem;
    bottom: -1.25rem;
    border-bottom-right-radius: $border-radius-20;
    border-top-left-radius: 1.25rem;
    padding: .75rem 1.5rem;
    &:after {
      content: ">";
      margin-left: .25rem;
    }
  }
}