.header {
  background: $lightblack;
  z-index: 998;
  position: relative;
  &__toggle {
    position: absolute;
    right: 2rem;
    cursor: pointer;
    @media (min-width: $breakpoint-20) {
      display: none;
    }
  }
  .container {
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  &__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    position: fixed;
    right: 6rem;
    z-index: 999;
    top: 1rem;
    @media (min-width: 1700px) {
      right: 20%;
    }
    &--invisible {
      display: none;
    }
    &-item {
      margin-right: 2rem;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
    &:before {
      position: absolute;
      top: -.8rem;
      left: -1rem;
      right: -1rem;
      bottom: -.8rem;
      background: $lightblack;
      content: "";
      border-radius: $border-radius-full;
      box-shadow: $box-shadow-10;
    }
    &-link {
      font-size: $font-size-30;
      position: relative;
      z-index: 1;
      &:hover {
        cursor: pointer;
        color: $yellow;
      }
      svg {
        display: block;
      }
    }
  }
}