.hero {
  background: $lightblack;
  z-index: 2;
  position: relative;
  overflow: visible;
  &__background {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    top: -10rem;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .3;
    svg {
      display: block;
      width: 100%;
    }
  }
  .container {
    padding-top: 2.5rem;
    flex-flow: column nowrap;
  }
  &__bottom {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    @media (min-width: 940px) {
      flex-flow: row nowrap;
    }
  }
  &__heading {
    position: relative;
    width: fit-content;
    margin-bottom: 2rem;
    text-shadow: $box-shadow;
  }
  &__intro {
    margin-right: 1.85rem;
    margin-bottom: 2rem;
    @media (min-width: 940px) {
      margin-bottom: 0;
    }
  }
  &__text {
    font-size: $font-size-50;
    font-weight: 200;
  }
  &__about {
    display: flex;
    justify-content: flex-end;
    flex-flow: column nowrap;
    &-text {
      max-width: 75%;
    }
    &-subheading {
      color: $yellow;
      font-weight: 400;
      font-size: $font-size-40;
    }
  }
  &__image {
    position: relative;
    z-index: 2;
    justify-self: center;
    margin-right: 2.5rem;
    width: fit-content;
    margin-bottom: 2.5rem;
    @media (min-width: 940px) {
      margin-bottom: 0;
    }
    &:before {
      position: absolute;
      width: 75%;
      height: 75%;
      bottom: -.65rem;
      right: -.65rem;
      content: " ";
      background: $yellow;
      z-index: -1;
      border-radius: $border-radius-20;
    }
    img {
      object-fit: cover;
      border-radius: $border-radius-20;
      box-shadow: $box-shadow;
      display: block;
      width: 275px;
      height: 275px;
      @media (min-width: 375px) {
        width: 330px;
        height: 330px;
      }
      @media (min-width: $breakpoint-40) {
        width: 400px;
        height: 400px;
      }
    }
  }
}